body {    
    width: 1280px;    
    /* height: 3796px; */
    margin: auto;
    position: relative;
  }

.start_screen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-image: url("../images/background/start-screen-gradient-background.jpg");
    width: 1280px;
    height: 908px;

    padding: 30px 40px 0 40px;    
    
}

header {
	display: flex;
	justify-content: space-between;
    align-items: center;

	width: 1200px;    
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.start_screen_content {
    display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
    width: 1200px;    
}

.start_screen_content_text {
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;    
}

.about {
    padding: 80px 40px 100px 40px;

    width: 1280px;
    height: 588px;
    background: var(--color-light-xl);
}

.about_content {
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.about_img {
    margin: 0 120px 0 0;
}

.about_text {
    display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;     
}

.about_text_2 {
    margin: 25px 0 25px 0;
}

.pets {
    width: 1280px;
    /* height: 877px; */
    background: var(--color-light-l);

    padding: 80px 40px 100px 40px;
}

.pets_content {
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.pets_content_slider {
    display: flex;
	justify-content: space-around;
	align-items: center;

    margin: 60px 0px 60px 0px;
}

.pets_content_sliderCard_margin {
    margin: 0 90px 0 90px;
}

.help {
    width: 1280px;
    height: 611px;
    background: var(--color-light-xl);

    padding: 80px 40px 100px 40px;
}

.help_content {
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.help_list {
    display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction: column;
    
    width: 1026px;
    margin: 80px 40px 100px 40px;
}

.help_list_1 {
    display: flex;
	justify-content: space-between;
	align-items: center;
    flex-direction: row;    
   
    margin: 0px 0px 55px 0px;
}

.help_list_item {
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;    
}

.donation {
    width: 1280px;
    /* height: 462px; */
    background: var(--color-light-l);

    padding: 80px 182px 100px 183px;
}

.donation_content {
    display: flex;
	justify-content: center;
	align-items: center;	
}

.donation_content_text {
    display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.donation_content_creditcard {
    display: flex;
    justify-content: flex-start;

    border-radius: 9px;
    padding: 10px 15px;
    /* width: 349px; */
    /* height: 43px; */
    background: var(--color-primary);
}


footer {    
    width: 1280px;
    height: 350px;
    /* line-height: 0; */
    background-image: url("../images/background/footer-gradient-background.jpg");   
    
    padding: 40px 40px 0px 40px;
}

.footer_content {
    display: flex;
	justify-content: space-between;
	align-items: center;    
}

.footer_content_header {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-light-xl);
}

.footer_content_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.footer_content_item {
    display: flex;
	justify-content: flex-start;
	align-items: center;	
}