.ourpets1280_body {    
    width: 1280px;    
    /* height: 3796px; */
    margin: auto;
    position: relative;
  }

.header_container {
    background: var(--color-light-xl);  
    padding: 30px 40px 30px 40px;  
}

.ourpets1280_pets {
    width: 1280px;
    /* height: 1342px; */
    background: var(--color-light-l);

    padding: 80px 40px 100px 40px;
}

.ourpets1280_link {
	font-family: var(--second-family);
font-weight: 400;
font-size: 15px;
line-height: 160%;
color: var(--color-dark-l);
	text-decoration: none;
	/* margin: 16px 17px 20px 0px; */
}

.ourpets1280_link:hover {	
	color: var(--color-dark-3xl);
	cursor: pointer;
}

.ourpets1280_link.active {	
	color: var(--color-dark-l);	
	border-bottom: 3px solid var(--color-primary);
	pointer-events: none;	
}

.ourpets1280_pets_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation {    
    display: flex;
    justify-content: space-between;

    width: 340px;
}

.cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards_container_line {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: row;

    width: 1200px;
    /* border: 1px solid #fc0318; */
}